revit-war/src/java/META-INF/Usuarios.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.wsinformacion.digercic.gob.ec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.wsinformacion.digercic.gob.ec/" name="Usuarios">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.wsinformacion.digercic.gob.ec/" schemaLocation="http://capacitacion.registrocivil.gob.ec:80/wsintegracion/Usuarios?xsd=1"/>
</xsd:schema>
</types>
<message name="cambiarContrasenia">
<part name="parameters" element="tns:cambiarContrasenia"/>
</message>
<message name="cambiarContraseniaResponse">
<part name="parameters" element="tns:cambiarContraseniaResponse"/>
</message>
<message name="getUsuarioByUsernameAndMail">
<part name="parameters" element="tns:getUsuarioByUsernameAndMail"/>
</message>
<message name="getUsuarioByUsernameAndMailResponse">
<part name="parameters" element="tns:getUsuarioByUsernameAndMailResponse"/>
</message>
<message name="leerEstructura">
<part name="parameters" element="tns:leerEstructura"/>
</message>
<message name="leerEstructuraResponse">
<part name="parameters" element="tns:leerEstructuraResponse"/>
</message>
<message name="getUsuariosFromPageForFirma">
<part name="parameters" element="tns:getUsuariosFromPageForFirma"/>
</message>
<message name="getUsuariosFromPageForFirmaResponse">
<part name="parameters" element="tns:getUsuariosFromPageForFirmaResponse"/>
</message>
<message name="getUsuariosByAgencia">
<part name="parameters" element="tns:getUsuariosByAgencia"/>
</message>
<message name="getUsuariosByAgenciaResponse">
<part name="parameters" element="tns:getUsuariosByAgenciaResponse"/>
</message>
<message name="getUsuariosByAgenciaMSP">
<part name="parameters" element="tns:getUsuariosByAgenciaMSP"/>
</message>
<message name="getUsuariosByAgenciaMSPResponse">
<part name="parameters" element="tns:getUsuariosByAgenciaMSPResponse"/>
</message>
<message name="getRolesUsuario">
<part name="parameters" element="tns:getRolesUsuario"/>
</message>
<message name="getRolesUsuarioResponse">
<part name="parameters" element="tns:getRolesUsuarioResponse"/>
</message>
<message name="getUsuarioByUserAndAgencia">
<part name="parameters" element="tns:getUsuarioByUserAndAgencia"/>
</message>
<message name="getUsuarioByUserAndAgenciaResponse">
<part name="parameters" element="tns:getUsuarioByUserAndAgenciaResponse"/>
</message>
<message name="getUsuarioByUserAndAgenciaMSP">
<part name="parameters" element="tns:getUsuarioByUserAndAgenciaMSP"/>
</message>
<message name="getUsuarioByUserAndAgenciaMSPResponse">
<part name="parameters" element="tns:getUsuarioByUserAndAgenciaMSPResponse"/>
</message>
<message name="getCompRolUsuario">
<part name="parameters" element="tns:getCompRolUsuario"/>
</message>
<message name="getCompRolUsuarioResponse">
<part name="parameters" element="tns:getCompRolUsuarioResponse"/>
</message>
<message name="getAgenciasPorInstitucion">
<part name="parameters" element="tns:getAgenciasPorInstitucion"/>
</message>
<message name="getAgenciasPorInstitucionResponse">
<part name="parameters" element="tns:getAgenciasPorInstitucionResponse"/>
</message>
<message name="getAgenciasPorInstitucionPorSistema">
<part name="parameters" element="tns:getAgenciasPorInstitucionPorSistema"/>
</message>
<message name="getAgenciasPorInstitucionPorSistemaResponse">
<part name="parameters" element="tns:getAgenciasPorInstitucionPorSistemaResponse"/>
</message>
<message name="getUsuariosPorAgenciaPorSistema">
<part name="parameters" element="tns:getUsuariosPorAgenciaPorSistema"/>
</message>
<message name="getUsuariosPorAgenciaPorSistemaResponse">
<part name="parameters" element="tns:getUsuariosPorAgenciaPorSistemaResponse"/>
</message>
<message name="getUsuariosPorSistemaPorAgenciaMspPorRol">
<part name="parameters" element="tns:getUsuariosPorSistemaPorAgenciaMspPorRol"/>
</message>
<message name="getUsuariosPorSistemaPorAgenciaMspPorRolResponse">
<part name="parameters" element="tns:getUsuariosPorSistemaPorAgenciaMspPorRolResponse"/>
</message>
<message name="getAgenciasPorInstitucionYUsuario">
<part name="parameters" element="tns:getAgenciasPorInstitucionYUsuario"/>
</message>
<message name="getAgenciasPorInstitucionYUsuarioResponse">
<part name="parameters" element="tns:getAgenciasPorInstitucionYUsuarioResponse"/>
</message>
<message name="enviarMailResetPass">
<part name="parameters" element="tns:enviarMailResetPass"/>
</message>
<message name="enviarMailResetPassResponse">
<part name="parameters" element="tns:enviarMailResetPassResponse"/>
</message>
<message name="getCredencialesFirma">
<part name="parameters" element="tns:getCredencialesFirma"/>
</message>
<message name="getCredencialesFirmaResponse">
<part name="parameters" element="tns:getCredencialesFirmaResponse"/>
</message>
<message name="getInstitucionesBySistema">
<part name="parameters" element="tns:getInstitucionesBySistema"/>
</message>
<message name="getInstitucionesBySistemaResponse">
<part name="parameters" element="tns:getInstitucionesBySistemaResponse"/>
</message>
<message name="getUbicacionByCodUbiMagna">
<part name="parameters" element="tns:getUbicacionByCodUbiMagna"/>
</message>
<message name="getUbicacionByCodUbiMagnaResponse">
<part name="parameters" element="tns:getUbicacionByCodUbiMagnaResponse"/>
</message>
<message name="getUsuario">
<part name="parameters" element="tns:getUsuario"/>
</message>
<message name="getUsuarioResponse">
<part name="parameters" element="tns:getUsuarioResponse"/>
</message>
<portType name="Usuarios">
<operation name="cambiarContrasenia">
<input wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/cambiarContraseniaRequest" message="tns:cambiarContrasenia"/>
<output wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/cambiarContraseniaResponse" message="tns:cambiarContraseniaResponse"/>
</operation>
<operation name="getUsuarioByUsernameAndMail">
<input wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getUsuarioByUsernameAndMailRequest" message="tns:getUsuarioByUsernameAndMail"/>
<output wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getUsuarioByUsernameAndMailResponse" message="tns:getUsuarioByUsernameAndMailResponse"/>
</operation>
<operation name="leerEstructura">
<input wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/leerEstructuraRequest" message="tns:leerEstructura"/>
<output wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/leerEstructuraResponse" message="tns:leerEstructuraResponse"/>
</operation>
<operation name="getUsuariosFromPageForFirma">
<input wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getUsuariosFromPageForFirmaRequest" message="tns:getUsuariosFromPageForFirma"/>
<output wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getUsuariosFromPageForFirmaResponse" message="tns:getUsuariosFromPageForFirmaResponse"/>
</operation>
<operation name="getUsuariosByAgencia">
<input wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getUsuariosByAgenciaRequest" message="tns:getUsuariosByAgencia"/>
<output wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getUsuariosByAgenciaResponse" message="tns:getUsuariosByAgenciaResponse"/>
</operation>
<operation name="getUsuariosByAgenciaMSP">
<input wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getUsuariosByAgenciaMSPRequest" message="tns:getUsuariosByAgenciaMSP"/>
<output wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getUsuariosByAgenciaMSPResponse" message="tns:getUsuariosByAgenciaMSPResponse"/>
</operation>
<operation name="getRolesUsuario">
<input wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getRolesUsuarioRequest" message="tns:getRolesUsuario"/>
<output wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getRolesUsuarioResponse" message="tns:getRolesUsuarioResponse"/>
</operation>
<operation name="getUsuarioByUserAndAgencia">
<input wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getUsuarioByUserAndAgenciaRequest" message="tns:getUsuarioByUserAndAgencia"/>
<output wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getUsuarioByUserAndAgenciaResponse" message="tns:getUsuarioByUserAndAgenciaResponse"/>
</operation>
<operation name="getUsuarioByUserAndAgenciaMSP">
<input wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getUsuarioByUserAndAgenciaMSPRequest" message="tns:getUsuarioByUserAndAgenciaMSP"/>
<output wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getUsuarioByUserAndAgenciaMSPResponse" message="tns:getUsuarioByUserAndAgenciaMSPResponse"/>
</operation>
<operation name="getCompRolUsuario">
<input wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getCompRolUsuarioRequest" message="tns:getCompRolUsuario"/>
<output wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getCompRolUsuarioResponse" message="tns:getCompRolUsuarioResponse"/>
</operation>
<operation name="getAgenciasPorInstitucion">
<input wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getAgenciasPorInstitucionRequest" message="tns:getAgenciasPorInstitucion"/>
<output wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getAgenciasPorInstitucionResponse" message="tns:getAgenciasPorInstitucionResponse"/>
</operation>
<operation name="getAgenciasPorInstitucionPorSistema">
<input wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getAgenciasPorInstitucionPorSistemaRequest" message="tns:getAgenciasPorInstitucionPorSistema"/>
<output wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getAgenciasPorInstitucionPorSistemaResponse" message="tns:getAgenciasPorInstitucionPorSistemaResponse"/>
</operation>
<operation name="getUsuariosPorAgenciaPorSistema">
<input wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getUsuariosPorAgenciaPorSistemaRequest" message="tns:getUsuariosPorAgenciaPorSistema"/>
<output wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getUsuariosPorAgenciaPorSistemaResponse" message="tns:getUsuariosPorAgenciaPorSistemaResponse"/>
</operation>
<operation name="getUsuariosPorSistemaPorAgenciaMspPorRol">
<input wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getUsuariosPorSistemaPorAgenciaMspPorRolRequest" message="tns:getUsuariosPorSistemaPorAgenciaMspPorRol"/>
<output wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getUsuariosPorSistemaPorAgenciaMspPorRolResponse" message="tns:getUsuariosPorSistemaPorAgenciaMspPorRolResponse"/>
</operation>
<operation name="getAgenciasPorInstitucionYUsuario">
<input wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getAgenciasPorInstitucionYUsuarioRequest" message="tns:getAgenciasPorInstitucionYUsuario"/>
<output wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getAgenciasPorInstitucionYUsuarioResponse" message="tns:getAgenciasPorInstitucionYUsuarioResponse"/>
</operation>
<operation name="enviarMailResetPass">
<input wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/enviarMailResetPassRequest" message="tns:enviarMailResetPass"/>
<output wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/enviarMailResetPassResponse" message="tns:enviarMailResetPassResponse"/>
</operation>
<operation name="getCredencialesFirma">
<input wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getCredencialesFirmaRequest" message="tns:getCredencialesFirma"/>
<output wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getCredencialesFirmaResponse" message="tns:getCredencialesFirmaResponse"/>
</operation>
<operation name="getInstitucionesBySistema">
<input wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getInstitucionesBySistemaRequest" message="tns:getInstitucionesBySistema"/>
<output wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getInstitucionesBySistemaResponse" message="tns:getInstitucionesBySistemaResponse"/>
</operation>
<operation name="getUbicacionByCodUbiMagna">
<input wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getUbicacionByCodUbiMagnaRequest" message="tns:getUbicacionByCodUbiMagna"/>
<output wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getUbicacionByCodUbiMagnaResponse" message="tns:getUbicacionByCodUbiMagnaResponse"/>
</operation>
<operation name="getUsuario">
<input wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getUsuarioRequest" message="tns:getUsuario"/>
<output wsam:Action="http://ws.wsinformacion.digercic.gob.ec/Usuarios/getUsuarioResponse" message="tns:getUsuarioResponse"/>
</operation>
</portType>
<binding name="UsuariosPortBinding" type="tns:Usuarios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="cambiarContrasenia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuarioByUsernameAndMail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="leerEstructura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuariosFromPageForFirma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuariosByAgencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuariosByAgenciaMSP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRolesUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuarioByUserAndAgencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuarioByUserAndAgenciaMSP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompRolUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAgenciasPorInstitucion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAgenciasPorInstitucionPorSistema">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuariosPorAgenciaPorSistema">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuariosPorSistemaPorAgenciaMspPorRol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAgenciasPorInstitucionYUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarMailResetPass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCredencialesFirma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInstitucionesBySistema">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUbicacionByCodUbiMagna">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Usuarios">
<port name="UsuariosPort" binding="tns:UsuariosPortBinding">
<soap:address location="http://capacitacion.registrocivil.gob.ec:80/wsintegracion/Usuarios"/>
</port>
</service>
</definitions>