revit-war/web/WEB-INF/wsdl/172.24.16.40/wsfirsincrono3/Firmado.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.wsfirma.digercic.gob.ec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.wsfirma.digercic.gob.ec/" name="Firmado">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.wsfirma.digercic.gob.ec/" schemaLocation="http://172.24.16.40:80/wsfirsincrono3/Firmado?xsd=1"/>
</xsd:schema>
</types>
<message name="firmaPdfCoordenadas">
<part name="parameters" element="tns:firmaPdfCoordenadas"/>
</message>
<message name="firmaPdfCoordenadasResponse">
<part name="parameters" element="tns:firmaPdfCoordenadasResponse"/>
</message>
<message name="firmaPdf">
<part name="parameters" element="tns:firmaPdf"/>
</message>
<message name="firmaPdfResponse">
<part name="parameters" element="tns:firmaPdfResponse"/>
</message>
<message name="firmaXml">
<part name="parameters" element="tns:firmaXml"/>
</message>
<message name="firmaXmlResponse">
<part name="parameters" element="tns:firmaXmlResponse"/>
</message>
<message name="guardarParametros">
<part name="parameters" element="tns:guardarParametros"/>
</message>
<message name="guardarParametrosResponse">
<part name="parameters" element="tns:guardarParametrosResponse"/>
</message>
<portType name="Firmado">
<operation name="firmaPdfCoordenadas">
<input wsam:Action="http://ws.wsfirma.digercic.gob.ec/Firmado/firmaPdfCoordenadasRequest" message="tns:firmaPdfCoordenadas"/>
<output wsam:Action="http://ws.wsfirma.digercic.gob.ec/Firmado/firmaPdfCoordenadasResponse" message="tns:firmaPdfCoordenadasResponse"/>
</operation>
<operation name="firmaPdf">
<input wsam:Action="http://ws.wsfirma.digercic.gob.ec/Firmado/firmaPdfRequest" message="tns:firmaPdf"/>
<output wsam:Action="http://ws.wsfirma.digercic.gob.ec/Firmado/firmaPdfResponse" message="tns:firmaPdfResponse"/>
</operation>
<operation name="firmaXml">
<input wsam:Action="http://ws.wsfirma.digercic.gob.ec/Firmado/firmaXmlRequest" message="tns:firmaXml"/>
<output wsam:Action="http://ws.wsfirma.digercic.gob.ec/Firmado/firmaXmlResponse" message="tns:firmaXmlResponse"/>
</operation>
<operation name="guardarParametros">
<input wsam:Action="http://ws.wsfirma.digercic.gob.ec/Firmado/guardarParametrosRequest" message="tns:guardarParametros"/>
<output wsam:Action="http://ws.wsfirma.digercic.gob.ec/Firmado/guardarParametrosResponse" message="tns:guardarParametrosResponse"/>
</operation>
</portType>
<binding name="FirmadoPortBinding" type="tns:Firmado">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="firmaPdfCoordenadas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="firmaPdf">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="firmaXml">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarParametros">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Firmado">
<port name="FirmadoPort" binding="tns:FirmadoPortBinding">
<soap:address location="http://172.24.16.40:80/wsfirsincrono3/Firmado"/>
</port>
</service>
</definitions>