revit-war/web/WEB-INF/wsdl/172.24.16.74_8080/WEBRegistroCivilUniversal/WSRegistroCivilConsulta.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.registrocivil.gob.ec" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.registrocivil.gob.ec" name="WSRegistroCivilConsulta">
<types>
<xsd:schema>
<xsd:import namespace="http://www.registrocivil.gob.ec" schemaLocation="http://172.24.16.74:8080/WEBRegistroCivilUniversal/WSRegistroCivilConsulta?xsd=1"/>
</xsd:schema>
</types>
<message name="BusquedaPorCedula">
<part name="parameters" element="tns:BusquedaPorCedula"/>
</message>
<message name="BusquedaPorCedulaResponse">
<part name="parameters" element="tns:BusquedaPorCedulaResponse"/>
</message>
<message name="WsUp">
<part name="parameters" element="tns:WsUp"/>
</message>
<message name="WsUpResponse">
<part name="parameters" element="tns:WsUpResponse"/>
</message>
<message name="BusquedaPorNombre">
<part name="parameters" element="tns:BusquedaPorNombre"/>
</message>
<message name="BusquedaPorNombreResponse">
<part name="parameters" element="tns:BusquedaPorNombreResponse"/>
</message>
<message name="BusquedaPorNombreInscrito">
<part name="parameters" element="tns:BusquedaPorNombreInscrito"/>
</message>
<message name="BusquedaPorNombreInscritoResponse">
<part name="parameters" element="tns:BusquedaPorNombreInscritoResponse"/>
</message>
<portType name="WSRegistroCivilConsulta">
<operation name="BusquedaPorCedula">
<input wsam:Action="http://www.registrocivil.gob.ec/BusquedaPorCedula" message="tns:BusquedaPorCedula"/>
<output wsam:Action="http://www.registrocivil.gob.ec/WSRegistroCivilConsulta/BusquedaPorCedulaResponse" message="tns:BusquedaPorCedulaResponse"/>
</operation>
<operation name="WsUp">
<input wsam:Action="http://www.registrocivil.gob.ec/WSRegistroCivilConsulta/WsUpRequest" message="tns:WsUp"/>
<output wsam:Action="http://www.registrocivil.gob.ec/WSRegistroCivilConsulta/WsUpResponse" message="tns:WsUpResponse"/>
</operation>
<operation name="BusquedaPorNombre">
<input wsam:Action="http://www.registrocivil.gob.ec/BusquedaPorNombre" message="tns:BusquedaPorNombre"/>
<output wsam:Action="http://www.registrocivil.gob.ec/WSRegistroCivilConsulta/BusquedaPorNombreResponse" message="tns:BusquedaPorNombreResponse"/>
</operation>
<operation name="BusquedaPorNombreInscrito">
<input wsam:Action="http://www.registrocivil.gob.ec/BusquedaPorNombreInscrito" message="tns:BusquedaPorNombreInscrito"/>
<output wsam:Action="http://www.registrocivil.gob.ec/WSRegistroCivilConsulta/BusquedaPorNombreInscritoResponse" message="tns:BusquedaPorNombreInscritoResponse"/>
</operation>
</portType>
<binding name="WSRegistroCivilConsultaPortBinding" type="tns:WSRegistroCivilConsulta">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="BusquedaPorCedula">
<soap:operation soapAction="http://www.registrocivil.gob.ec/BusquedaPorCedula"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="WsUp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BusquedaPorNombre">
<soap:operation soapAction="http://www.registrocivil.gob.ec/BusquedaPorNombre"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BusquedaPorNombreInscrito">
<soap:operation soapAction="http://www.registrocivil.gob.ec/BusquedaPorNombreInscrito"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSRegistroCivilConsulta">
<port name="WSRegistroCivilConsultaPort" binding="tns:WSRegistroCivilConsultaPortBinding">
<soap:address location="http://172.24.16.74:8080/WEBRegistroCivilUniversal/WSRegistroCivilConsulta"/>
</port>
</service>
</definitions>