revit-war/web/WEB-INF/wsdl/webservice04.registrocivil.gob.ec_80/wsgeneracioncedula/GeneraCedula.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.wsgeneracioncedula.digercic.gob.ec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.wsgeneracioncedula.digercic.gob.ec/">

<xs:element name="numeroCedula" type="tns:numeroCedula"/>

<xs:element name="numeroCedulaResponse" type="tns:numeroCedulaResponse"/>

<xs:complexType name="numeroCedula">
<xs:sequence>
<xs:element name="provincia" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="numeroCedulaResponse">
<xs:sequence>
<xs:element name="return" type="tns:cedula" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cedula">
<xs:sequence>
<xs:element name="Cedula" type="xs:string" minOccurs="0"/>
<xs:element name="Descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="Error" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>